*{
    margin: 0;
    padding: 0;
}

.rez{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.8%;
    border-radius: 50px;
    margin-right:60px; 
    margin-left:60px;
    font-size: 26px;
}

.image1{
    padding-bottom: -1%;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 430px;
    width: 330px;
}

.image2{
    padding-bottom: -1%;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 1%;
    border: 5px solid #800000;
    height: 245px;
    width: 330px;
}

.logo{
    width: 100px; 
    height: 100px;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}



header{
    border-bottom: 2px solid #515369;
}

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(Wild-Swan-Wallpaper-Mural_9398d007-3546-4671-a895-5a02777ce96c_1800x1800.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
a {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(10, 1, 1);
}

.moreText {
    display: none;
}



.text.show-more .moreText {
    display: inline;
}

.text.show-more .dots {
    display: none;
}


.nav_link{
    color: rgb(20, 2, 2);
    text-decoration: none;
    opacity: .75;
    margin-left: 50px;
}

.nav_link:hover{
    text-decoration: underline;
    opacity: 1;
}

.nav_link:first-child{
    margin-left: 0
}

table {
    width: 92%;
    border: 1px solid red;
    border-spacing: 7px 5px;
}

td {
    background: whitesmoke;
    border: 1px solid rgb(116, 72, 72);
    padding: 1px;
}

th{
    background: rgb(102, 77, 77);
    border: 1px solid rgb(7, 0, 0);
    padding: 1px;
    color: rgb(12, 1, 1);
}

.linkuri{
    display: flex;
    padding: 15px 0;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    border-top: 2px solid #050716;
}

.inner_links{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
 
}

.link{
    color: rgb(19, 1, 1);
    text-decoration: none;
    opacity: .75;
    margin-left: 10px;
}

.link:hover{
    text-decoration: none;
    opacity: 1;
}

li{
    color:rgb(10, 1, 1);
    opacity: .75;
}

li:hover{
    opacity: 1;
}

.Reference{
    font-size: 22px;
    color: #58214f;
    margin: 2.5 auto;
}

.Nume_poveste{
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 20px;
    
}

.nume_rezumat{
    font-size: 32px;
    color: #682762;
    margin-top: -10px;
}

.dropdown{
    display:none;  
}